html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  #app{
    height: 100%;
  }
}

// 通用样式
.fr{
  float: right;
}
.fl{
  float: left;
}

// element 样式
.is-required-no{
  .el-form-item__label:before{
    display: none;
  }
}