*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  #app{
    height: 100%;
  }
}

// 通用样式
.fr{
  float: right;
}
.fl{
  float: left;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}

// element 样式
.is-required-no{
  .el-form-item__label:before{
    display: none;
  }
}